html,
body,
#app {
  height: 100%;
}

main {
  flex: 1 0 auto;
}

code {
  border-radius: 2px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 96px - 52px);
}

#page-footer {
  margin: 2rem;
  flex-shrink: 0;
}

#gh-link {
  font-size: 0.875rem;
  user-select: auto;
}
