/*! bulma.io v0.6.2 | MIT License | github.com/jgthms/bulma */

// Import Bulma variables
@import 'node_modules/bulma/sass/utilities/_all';

// Override variables
$green: #1ED760;
$primary: $green;
$link-visited: $link;
$link-hover: $cyan;
$button-hover-color: $grey-darker;
$family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$modal-background-background-color: rgba($black, 0.5);

@mixin block {
  &:not(:last-child) {
    margin-bottom: 0;
  }
}

// Import the rest of Bulma
@import 'node_modules/bulma/sass/base/_all';
@import 'node_modules/bulma/sass/elements/_all';
@import 'node_modules/bulma/sass/components/_all';
@import 'node_modules/bulma/sass/grid/_all';
@import 'node_modules/bulma/sass/layout/_all';
